/* CSS */
.tabla-productos {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}
/* CSS */
label {
  width: 120px; /* Ancho del label */
  display: inline-block;
  text-align: right;
  margin-right: 10px; /* Espacio entre el label y el input */
}

input[type="text"],
input[type="number"],
select {
  width: 200px; /* Ancho del input */
}

select {
  width: 200px; /* Ancho del input */
}
.encabezado th {
  background-color: #f8f8f8;
  color: #333;
  font-weight: bold;
  padding: 10px;
  text-align: left;
}

.fila-producto td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

.fila-producto:hover {
  background-color: #f5f5f5;
}
