<br><br>
<label for="idPedido">idPedido: </label>
<input type="string" id="idPedido" name="idPedido" [(ngModel)]="idPedido" /><br />
<label for="idCliente">idCliente: </label>
<input type="number"  id="idCliente"  name="idCliente"  [(ngModel)]="idCliente"/><br />
<label for="nombreCliente">nombre Cliente: </label>
<input  type="string"  id="nombreCliente"  name="nombreCliente"  [(ngModel)]="nombreCliente"/><br />
<label for="precio">totalProducto: </label>
<input type="number"  id="totalProducto"  name="totalProducto"  [(ngModel)]="totalProducto"/><br />
<label for="importeTotal">importeTotal: </label>
<input type="number"  id="importeTotal"  name="importeTotal"  [(ngModel)]="importeTotal"/><br />
<br>
<input type="submit" value="anadir" (click)="anadir()" />
<br>
